body {
  margin: 0px;
  padding: 0px;
}

article {
  height: 1000px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

div {
  margin-top: 100px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: blue;
  border-radius: 90px;
  font-size: 50px;
  padding: 50px;
  animation-name: boxes;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.box1 {
  background-color: blue;
  animation-delay: 1s;
}

.box2 {
  background-color: blueviolet;
  animation-delay: 2s;
}

.box3 {
  background-color: aqua;
  animation-delay: 3s;
}

.box4 {
  background-color: brown;
  animation-delay: 4s;
}

@keyframes boxes {
  0% {
    scale: 1;
  }

  25% {
    scale: 1;
  }

  50% {
    scale: 1.5;
  }

  75% {
    scale: 1;
  }

  100% {
    scale: 1;
  }
}
